In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv("Data.csv")
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,3]
Y
# dataset

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [4]:
from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(missing_values='NaN',strategy='mean')
# imputer = imputer.fit(X[:, 1:3])
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')       ### We Can use mean,median,most_frequent
imputer = imputer.fit_transform(X.iloc[:, 1:3])
# X.iloc[:, 1:3] = imputer.transform(X.iloc[:, 1:3])       ### We can directly use fit_transform
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [67]:
# We Are Converting The values(String) into Number form for better calculation 
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X.iloc[:,0] = labelencoder_X.fit_transform(X.iloc[:,0])
X

   Country        Age        Salary
0        0  44.000000  72000.000000
1        2  27.000000  48000.000000
2        1  30.000000  54000.000000
3        2  38.000000  61000.000000
4        1  40.000000  63777.777778
5        0  35.000000  58000.000000
6        2  38.777778  52000.000000
7        0  48.000000  79000.000000
8        1  50.000000  83000.000000
9        0  37.000000  67000.000000

In [80]:
# Now We are creating dummy values for country coz we dont know where is required country
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categories='auto')
X = onehotencoder.fit_transform(X).toarray()
X
## | 0  | 1 | 0 |
## |---|---|---|
## | 0  | 1 | 0 |
# Like this way country is decided

array([[0., 1., 1., ..., 1., 1., 0.],
       [1., 0., 0., ..., 1., 1., 0.],
       [1., 0., 0., ..., 1., 1., 0.],
       ...,
       [0., 1., 1., ..., 1., 1., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 1., ..., 1., 1., 0.]])

In [107]:
# Training and Testing data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)
Y_train

4    Yes
9    Yes
1    Yes
6     No
7    Yes
3     No
0     No
5    Yes
Name: Purchased, dtype: object

In [1]:
# FEATURE SCALING || Standard and fit the data for better prediction
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

NameError: name 'X_train' is not defined